*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --header-width: 20%;
    --min-header-width: 30%;
    --header-height: 99%;
    
    --main-width: 80%;
    --max-main-width: 70%;
    
    /* color original del menu
    rgb(83, 204, 252);
    */
    --header-color: rgb(0, 0, 0); /*rgb(34, 82, 114);*/
    --main-background-color: rgba(51, 51, 51, 0.918);
    --body-color-black:  rgb(0, 0, 0);
    --body-color-gray: rgb(104, 104, 104);

    --menu-text-color: rgb(88, 231, 95);
    --my-name-color: rgb(7, 7, 7);
    --main-text-color: white;

    --white-text: white;
    --green-text: rgb(88, 231, 95);
}

body{
    background: var(--body-color-gray);
    width: 80%;
    margin: 0 auto;

    /*
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    */
    
}

header{
    background: var(--header-color);
    max-width: 250px;
    height: 100vh;
    float: left;
    position: fixed;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-header{
    max-height: 80%;
    width: 90%;
    /*background: red;*/
    padding: 20px 0px;
    /*
    max-width: 250px;
    
    height: var(--header-height);
    
    border: 2px solid rgb(88, 231, 95);
    box-shadow: 5px rgb(88, 231, 95);
    border-radius: 20px;
    */
}


.img-container, .menu-container{
    max-height: 45%;
}

.img-container{
    border-radius: 20px;
    width: 90%;
}

img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
    
}

nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    height: 90%;
    flex-direction: column;
    text-align: center;
    gap: 15px;  
    list-style: none;
}

.menu li{
    display: block;
    width: 100%;
    height: 30px;
    /* background: blue; */
}

li{
    display: block;
    width: 90%;
}

.menu li:hover{
    cursor: pointer;
    width: 100%;
    transition: all 0.3s;
    font-size: 1.6rem;
    /*scale: 1.2;*/
}

.menu a{
    display: block;
    width: 100%;
    text-align: center;
    color: var(--menu-text-color);
    text-decoration: none;
    /*font-size: 1.5em;*/
    text-shadow: 0 0 20px rgb(43, 255, 24), 0 0 20px rgb(43, 255, 24), 0 0 20px rgb(43, 255, 24);

    /*font-family: monospace;*/
    font-family: "Michroma", sans-serif;
    font-style: normal;
    margin: 5px 0px;
}

.menu a:hover{
    width: 100%;
    transition: all 0.3s;
    font-size: 1.6rem;
    text-decoration: underline;
    text-transform: capitalize;
}

.menu a:active{
    width: 100%;
    color: black;
}

main{
    float: right;
    /*width: var(--main-width);*/
    max-width: calc(100% - 250px);
    /*background: var(--main-color);*/
    background: var(--main-background-color);
    display: flex;
    justify-content: flex-start;
    color: var(--main-text-color);
}

/*
.container-sections{
    background: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
}
*/

.section{    
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
    /*background: rgb(154, 65, 226);*/
}

.container{
    /*background: red;*/
    width: 90%;
}

.my-name{
    color: black;
    width: 90%;
    margin: 10px auto;
    font-size: 2.5rem;
    
    font-family: "Orbitron", sans-serif;
    /* 
    font-family: "Rowdies", sans-serif;
    no me gusta queda may grande y exagerado
    font-family: "Ga Maamli", sans-serif;
    font-family: "Carter One", system-ui;
    */

    color: var(--green-text);

    font-weight: 500;
    font-style: normal;
    text-align: center;
    /*
    text-shadow: 0 0 20px rgb(43, 255, 24), 0 0 20px rgb(43, 255, 24), 0 0 20px rgb(43, 255, 24);
    */
}

.block-description{
    width: 100%;
    margin: 20px auto;
    padding: 10px 10px;
}

.description-job{
    font-family: "Michroma", sans-serif;
    font-weight: 900;
    font-style: italic;
    width: 100%;
    text-align: center;
    color: var(--menu-text-color);
    /*text-shadow: 0 0 20px rgb(43, 255, 24), 0 0 20px rgb(43, 255, 24), 0 0 20px rgb(43, 255, 24);*/
    font-size: 1rem;
    text-decoration: none;
}

.welcome-message{
    width: 100%;
    margin: 20px 0px;
    font-size: 1.5rem;
    /*font-family: "Dancing Script", cursive;*/

    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: var(--green-text);
    /*text-shadow: 0px 0px 20px white, 0px 0px 20px white, 0px 0px 20px white;*/
}

.padding-5{
    padding: 5px 5px;
}

.title-section{
    width: 100%;
    margin: 10px auto;
    text-align: center;
    /*background: blueviolet;*/
    padding: 20px 20px;
}

.redes{
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    height: 50px;
    margin: 60px auto;
}

.social-red a{
    width: 100%;
}

.social-red img{
    /*border-radius: 50%;*/
    height: 100%;
}

.container-button{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-button{
    width: 50%;
    height: 40px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    background: rgb(43, 255, 24);
    cursor: pointer;
}

.section-skill-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.section-skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.section-skills{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    gap: 15px;

    /*
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    */
}

.skill{
    /* margin: 15px 15px; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /*background: red;*/
    border: 2px solid rgb(43, 255, 24);
    border-radius: 20px;    
}

.margin-5{
    margin: 5px 5px;
}


.margin-title{
    margin: 10px 0px;
}

.margin-text{
    margin: 30px 0px;
}

.skill:hover{
    transition: all 0.4s;
    cursor: pointer;
    /*rotate: 360deg;*/
    margin-bottom: 40px;
    background: linear-gradient( black 30%,  gray 70%,  rgba(88, 231, 95, 0.507) 90%);
}

.skill-image-container{
    width: 90%;
    height: 70%;
    /*background: black;*/
}

.skill img{
    max-width: 100%;
    max-height: 100%;
}

.name-skill-container{
    height: 15%;
    width: 90%;
}

.container-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-label{
    font-size: 1.3rem;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.section-porfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    /* background: red; */
}

article{
    width: 20%;
    margin: 20px 20px;
    padding: 3px 3px;
    border: 2px solid rgb(139, 204, 17);
    height: 50%;
}


.container-flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-container{
    max-height: 100vh;
    width: 100%;
    /*background: green;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background: pink;*/
}

.contact{
    width: 70%;
    width: 100%;
    height: 90px;
    border-radius: 10px;
    border: 2px solid green;
}

.link-block{
    /*background: lightgreen;*/
    width: 100%;
    height: 100%;
}

/*
.link-block:hover{
    transition: all 1s;
    border: 2px solid lightgreen;
}
*/


.contact-container-img{
    height: 50px;
    width: 20%;
    /*background: blue;*/
    display: flex;
    justify-content: center;
}

.container-text{
    height: 70px;
    /*background: red;*/
    text-align: left;
    width: 80%;
    display: flex;
    align-items: center;
    /*margin: 10px 0px;*/

    overflow: auto;
}

.container-text p{
    color: white;
    width: 100%;
    font-size: 1rem;
    font-family: "Orbitron", sans-serif;
}


footer{
    display: block;
    float: right;
    width: var(--main-width);
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p{
    background: red;
    font-size: 1.5rem;
    text-align: center;
}




@media(max-width: 600px){

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    :root{
        --mobile-header-width: 40%;
        --mobile-main-width: 60%;
    }

    body{
        width: auto;
        margin: 0px 0px;
    }
    
    header{    
        width: 180px;
        height: 100%;

        /*
        border: 2px solid rgb(88, 231, 95);
        border-color: linear-gradient(rgb(88, 231, 95), rgb(58, 255, 68));
        box-shadow: 5px rgb(88, 231, 95);
        border-radius: 20px;
        */
        position: fixed;
    }
    

    .menu a{
        font-size: 0.8rem;
        text-decoration: none;
        height: 40px;
    }

    .menu li:hover{
        cursor: pointer;
        max-width: 100%;
        transition: all 0.3s;
        font-size: 0.9rem;
        /*scale: 1.2;*/
    }

    main{
        max-width: unset;
        width: calc(100% - 180px);
        
    }

    .container-sections{
        width: 100%;
    }

    .container{
        /*background: red;*/
        width: 90%;
    }

       
    .my-name{
        font-size: 2rem;
        text-align: left;
        /* 
        max-height: 20vh;
        no me gusta queda may grande y exagerado
        font-family: "Ga Maamli", sans-serif;
        font-weight: 400;
        font-style: normal;
        
        text-shadow: 0 0 20px rgb(43, 255, 24), 0 0 20px rgb(43, 255, 24), 0 0 20px rgb(43, 255, 24);
        */
    }

    .description-job{
        font-weight: 400;
        font-style: normal;
        width: 100%;
        text-align: center;
        color: var(--menu-text-color);
        /*text-shadow: 0 0 20px rgb(43, 255, 24), 0 0 20px rgb(43, 255, 24), 0 0 20px rgb(43, 255, 24);*/
        font-size: 1rem;
        text-decoration: none;
    }

    .welcome-message{
        width: 100%;
        margin: 20px 0px;
        font-size: 1rem;
        font-optical-sizing: auto;
        font-style: normal;
        text-align: center;
        color: var(--green-text);
        /*text-shadow: 0px 0px 20px white, 0px 0px 20px white, 0px 0px 20px white;*/
    }


    .redes{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: auto;
        margin: 0 auto;
    }

    .social-red{
        width: 65px;
    }

    .section-skill-container{
        /* background: lightblue; */
    }


    .section-skills{
        display: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: unset;

        /* background: gray; */
    }


    .text-label{
        font-size: 0.7rem;
        font-weight: bolder;
        text-align: center;
        color: white;
    }


    .skill{
        width: unset;
        height: 500px;
        /*background: red;*/
        border: 2px solid rgb(43, 255, 24);
        border-radius: 20px;    
    }


 



    .title-section{
        width: 80%;
        text-align: center;
        /*background: blueviolet;*/
    }

    .text{
        width: 100%;
    }


    


    .skill{
        width: 90px;
        height: 120px;
    }





    .container-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }




    .contact-container{
        max-height: 100vh;
        width: 100%;
        padding: 10px 5px;
        /*background: lightskyblue;*/
        margin: 10px auto;
    }
    
    .contact{
        width: 100%;
        /*background: brown;*/
        border-radius: 10px;
        padding: 10px 5px;
        border: 2px solid green;
    }
    
    .contact-container-img{
        height: 50px;
        width: 20%;
        /*background: blue;*/
        display: flex;
        justify-content: center;
    }
    
    .container-text{
        width: 100%;
        /*background: lightsalmon;*/
    }
    
    .container-text p{
        text-align: center;
        color: white;
        width: 100%;
        font-size: 0.8rem;
        text-decoration: none;
    }









    footer{
        float: right;
        width: var(--mobile-main-width);
        height: 10vh;
        
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: blue;
    }
    
    footer p{
        /*background: red;*/
        font-size: 1rem;
        text-align: center;
    }
    
}
